body {
    background-color: #B4D2E7;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fondamento";
    font-size: 3rem;
}

.headpage {
    padding: 2rem;
    text-align: center;
}

.headpage img {
    width: 360px;
    height: 78px;
}

.contentpage {
    display: flex;
    flex-direction: column;
    background-color: #A1A6B4;
    height: 100%;
    padding: 3rem;
}

.bio {
    padding: 2rem;
    background-color: #94C5CC;
    border-radius: 1rem;
    font-family: "Kanit";
    font-size: 1.2em;
    text-align: justify;
    width: 70%;
    margin-left: 1.7rem;
    display: flex;
    flex-direction: row;
}

.bio img {
    position: absolute;
    left: 80%;
    top: 38%;
    border-radius: 1rem;
}

.subtitle h2.biotitle, h2.discotitle {
    font-family: "Changa";
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.disco{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.album{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 2rem;
    width: 17rem;
    height: 17rem;
    padding: 1rem;
}

.album img{
    width: 225px;
    height: 225px;
    border-radius: 1rem;
}

.album h1, h2, h3, h4, h5, h6{
    font-size: 1.5em;
    margin: 0;
    margin-top: 1rem;
}
